.container {
  padding: 0rem 2.4rem;
  margin-bottom: 10rem;
}

.titleAndTrashButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chooseSize {
  margin: 4rem 0rem;
  h1 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
}
