.container {
  padding: 0rem 2.4rem;
    overflow: scroll;
    height: 45rem;
}

.titleAndTrashButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chooseSize {
  margin: 4rem 0rem;
  h1 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 720px) and (min-width: 1080px) {
  .container {
    padding: 0rem 28rem;
  }
}
