.orderStatusItem {
  display: flex;

  .activeStatus {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .icon {
      border: 3px solid var(--yellow);
      box-sizing: border-box;
      border-radius: 100%;
      height: 3.5rem;
      width: 3.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .defaultStatus {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .icon {
      border: 3px solid var(--yellow);
      box-sizing: border-box;
      border-radius: 100%;
      height: 3.5rem;
      width: 3.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .isActive {
    background-color: var(--yellow);
    box-sizing: border-box;
    border-radius: 100%;
    height: 2.2rem;
    width: 2.2rem;
  }

  .divider {
    width: 0.4rem;
    height: 8rem;
    background-color: var(--yellow);
  }

  .statusDetail {
    margin-top: 0.5rem;
    margin-left: 1.2rem;
  }
}
