.cardSuggestions {
  height: fit-content;
  width: 42vw;
  border-radius: 0.8rem;
  background-color: var(--white);
  filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.1));

  .imageContainer {
    position: relative;
    height: 10rem;
    img {
      border-radius: 0.8rem 0.8rem 0rem 0rem;
    }
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;

    .infoWrapper {
      p:first-child {
        margin-bottom: 0.3rem;
      }
      p {
        height: 3rem;
        margin-bottom: 1rem;
        overflow: hidden;
        text-transform: capitalize;
        text-overflow: ellipsis;
      }
    }
    .priceHateWrapper {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
  }
}
