.starter {
  padding: 0rem 2rem 0rem 2rem;
  position: relative;
  overflow: hidden;
  .starterWrapper {
    padding: 2rem;
    height: 17vh;
    border-radius: 1.2rem;
    background-color: #ab112c;
    color: #fff;
    display: flex;
    align-items: flex-end;

    p {
      width: 80%;
      font-size: 2rem;
      font-weight: 600;
    }

    img {
      position: absolute;
      opacity: 0.4;
      height: 75%;
      right: -10px;
      bottom: 0;
    }
  }
}
