.mainMenu {
  height: 7rem;
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 720px) and (min-width: 1080px) {
  .mainMenu {
    padding: 7rem 25rem;
    justify-content: center;
  }
}
