//REGULAR
.genericText-regular-black {
  color: var(--black);
  font-size: 1.6rem;
}
.genericText-regular-yellow {
  color: var(--yellow);
  font-size: 1.6rem;
}
.genericText-regular-white {
  color: var(--white);
  font-size: 1.6rem;
}

//BOLD
.genericText-bold-black {
  color: var(--black);
  font-size: 1.6rem;
  font-weight: 600;
}

.genericText-bold-yellow {
  color: var(--yellow);
  font-size: 1.6rem;
  font-weight: 600;
}

.genericText-bold-white {
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 600;
}
