.myInformations {
  padding: 0rem 2.4rem;
  margin-top: 2rem;

  .button {
    width: 87%;
    position: absolute;
    bottom: 2rem;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }

  .form {
    margin-top: 1rem;
  }
}

@media (min-width: 720px) and (min-width: 1080px) {
  .myInformations {
    padding: 0rem 28rem;
    margin-top: 1rem;

    .button {
      width: 20%;
      position: relative;
      margin-top: 5rem;
    }
  }
}
