.cardDrinks {
  height: 7rem;
  border-radius: 6px;
  padding-left: 0.7rem;
  padding-bottom: 0.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  &:hover {
    cursor: pointer;
  }
}

.cardDrinks-active {
  height: 7rem;
  border-radius: 6px;
  padding-left: 0.7rem;
  padding-bottom: 0.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  outline: 4px solid #ffd239;
  -moz-outline-radius: 6px;

  &:hover {
    cursor: pointer;
  }
}

@media (min-width: 720px) and (min-width: 1080px) {
  .cardDrinks {
    height: 10rem;
  }
  .cardDrinks-active {
    height: 10rem;
  }
}
