.headerContainer {
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2.4rem;

  .login {
    display: flex;
    align-items: center;
    span {
      font-size: 1.7rem;
    }
    p {
      font-size: 1.4rem;
      margin-right: 1rem;
    }

    :hover {
      cursor: pointer;
    }
  }
}

.headerProfile {
  padding: 2rem 2.4rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.04);
  p {
    font-size: 1.3rem;
  }
  h1 {
    text-transform: capitalize;
    font-size: 1.6rem;
  }
}

.headerWithBackButton {
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 2.4rem;

  div:first-child {
    position: absolute;
    left: 2.4rem;
  }
}

@media (min-width: 720px) and (min-width: 1080px) {
  .headerContainer {
    padding: 2rem 28rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.04);
  }

  .headerProfile {
    padding: 2rem 28rem;
  }

  .headerWithBackButton {
    padding: 2rem 28rem;

    div:first-child {
      position: absolute;
      left: 28rem;
    }
  }
}
