.AddItemButton {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.6rem;
  border: 1px solid #dcdcdc;
  padding: 1rem;

  div {
    &:hover {
      cursor: pointer;
    }
  }
}
