.MainPaymentMethod {
  min-height: 6rem;
  border-radius: 6px;
  width: fit-content;
  display: flex;
  align-items: center;
  position: relative;

  .imageContainer {
    position: relative;
    width: 3.9rem;
    height: 3rem;
    margin-right: 2rem;
    img {
      border-radius: 0.3rem;
    }
  }

  .nameNumber {
    p {
      font-size: 1.3rem;
    }
    h1 {
      font-size: 1.6rem;
    }
  }
}
