.cardRecentOrder {
  min-height: fit-content;
  max-height: 100%;
  width: 40vw;
  border-radius: 0.8rem;
  background-color: var(--white);

  .imageContainer {
    position: relative;
    min-width: 100%;
    max-width: 100%;

    min-height: 9rem;
    max-height: 9rem;
    img {
      border-radius: 0.8rem 0.8rem 0rem 0rem;
    }
  }

  .infoContainer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45%;
    p {
      font-size: 1.5rem;
      text-transform: capitalize;
    }
    .priceHateWrapper {
      display: flex;
      justify-content: space-between;
      .hateWrapper {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        p {
          font-size: 1rem;
          margin-left: 5px;
        }
        svg {
          color: var(--yellow);
          fill: var(--yellow);
        }
      }
    }
  }
}
