.cardCategory {
  height: 5rem;
  height: 7rem;
  padding-left: 1rem;
  padding-bottom: 0.6rem;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex: none;

  scroll-snap-align: center;

  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

@media (min-width: 720px) and (min-width: 1080px) {
  .cardCategory {
  }
}
