.footer {
  display: grid;
  grid-template-columns: 0.8fr 2fr;
  grid-gap: 1rem;
  align-items: center;
  height: 8vh;
  width: 100vw;
  background-color: var(--white);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.19);
  position: fixed;
  bottom: -1px;
  padding: 1rem 2.4rem;

  .totalPrice {
    p {
      font-size: 1.3rem;
    }
    h1 {
      font-size: 1.6rem;
    }
  }
}

.footerUpdateItem {
  height: 8vh;
  width: 100vw;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.19);
  padding: 0rem 2.4rem;
  position: fixed;
}

.cartPayment {
  height: 8vh;
  width: 100vw;
  background-color: var(--white);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.19);
  position: fixed;
  bottom: -1px;
  padding: 1rem 2.4rem;

  .totalPrice {
    p {
      font-size: 1.3rem;
    }
    h1 {
      font-size: 1.6rem;
    }
  }
}

@media (min-width: 720px) and (min-width: 1080px) {
  .footer {
    padding: 0rem 28rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
      height: 3rem;
      margin-left: 10rem;
      width: 20%;
    }
  }
}
