.search {
  padding: 2rem 2.4rem;

  .searchInput {
    p {
      color: red;
      margin-top: -1.3rem;
      margin-left: 1rem;

      font-size: 1.3rem;
    }
  }

  .searchedWrapper {
    margin-top: 2rem;
    margin-bottom: 8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.4rem;
  }
}
