.drinksBanner {
  margin-top: 2rem;
  padding: 0rem 2.4rem;

  .container {
    display: grid;
    margin-top: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-bottom: 2rem;
  }
}
.itemsWrapper {
  margin-top: -1.5rem;
}
