.carouselWrapper {
  overflow: hidden;

  .carouselContainer {
    transform: translateX(0px);
    transition: 250ms;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
  }
}
