.genericButton {
  padding: 0rem 1.5rem;
  width: 100%;
  min-height: 3rem;
  background-color: transparent;
  margin-top: 1rem;
  p {
    font-weight: 600;
    font-size: 1.3rem;
    color: #fa4b4b;
  }
}
